<h1>Public::Lists#edit</h1>
<p>Find me in app/views/public/lists/edit.html.erb</p>
<h1>編集画面</h1>

<%= form_with model: @list do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>

  <h4>材料</h4>
  <%= f.text_area :material %>

  <h4>本文</h4>
  <%= f.text_area :body %>

  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>


  <%= f.radio_button :draft, "release" %>
　<%= f.label :draft_draft, "公開" %>

  <%= f.radio_button :draft, "draft" %>
  <%= f.label :draft_release, "下書き" %>

  <%= f.submit '保存' %>

<% end %>
