<h1>Public::Lists#edit</h1>
<p>Find me in app/views/public/lists/edit.html.erb</p>
<h1>編集画面</h1>

<%= form_with model: @list, url: update_list_path(@list.id), method: :patch do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>
  
  <h4>材料</h4>
  <%= f.text_area :material %>
  
  <h4>本文</h4>
  <%= f.text_area :body %>
  
  <%= f.submit '保存' %>
  
<% end %>
