<h1>Public::Lists#index</h1>
<p>Find me in app/views/public/lists/index.html.erb</p>
　<div class="container mt-5">
   <div class="row">
 　  <%= form_with url: searches_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
    <% end %>
   </div>
 </div>
 
 
  <%= form_tag({controller:"lists",action:"index"}, method: :get) do %>
      <% Tag.all.each do |t| %>
          <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
      <% end %>
      <%= submit_tag '検索' %>
  <% end %>
<h1>投稿一覧</h1>

<% @lists.each do |list| %>
  <p>タイトル</p>
  <%= link_to list.title, list_path(list.id)  %>
  <p>タグ</p>
  <% list.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>

  <p>ユーザーネーム</p>
  <%= list.user.name %>

  <p>画像</p>
  <%= image_tag list.get_image, :size => '200x200' %>


<% end %>
