<h1>Public::Lists#new</h1>
<p>Find me in app/views/public/lists/new.html.erb</p>

<h1>新規投稿</h1>
<% if @list.errors.any? %>
  <%= @list.errors.count %>件のエラーが発生しました
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @list do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>

	<h4>材料</h4>
  <%= f.text_area :material %>

  <h4>作り方</h4>
  <%= f.text_area :body %>

  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>


  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
    <div class='form-check'>
      <%= tag.label class: 'form-check-label' do %>
        <%= tag.check_box class: 'form-check-input' %>
        <%= tag.text %>
      <% end %>
    </div>
  <% end %>


  <%= f.radio_button :draft, "release" %>
  <%= f.label :draft_draft, "公開" %>
  <%= f.radio_button :draft, "draft" %>
  <%= f.label :draft_release, "下書き" %>

  <%= f.submit '投稿' %>
<% end %>