<h1>Public::Lists#new</h1>
<p>Find me in app/views/public/lists/new.html.erb</p>

<h1>新規投稿</h1>
<%= form_with model: @list do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>

	<h4>材料</h4>
  <%= f.text_area :material %>

  <h4>本文</h4>
  <%= f.text_area :body %>

  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>

  <%= f.submit '投稿' %>
<% end %>