<div class="text-center">
  <h2><%= @list.title %></h2>
</div>
<div class="container">
  <% @list.tags.each do |tag| %>
    <h4 class="fa-solid fa-tag"><%= tag.name %>&nbsp;</h4>
  <% end %>
  <p class="card-name">投稿者：<%= @list.user.name %></p>
  <div class="row">
      <div class="col-lg-5">
      <p><%= image_tag @list.get_image, :size => '300x300' %></p>
      </div>
    <div class="col-lg-7" style="background-color:#FFFFFF">
      <div class="row">
        <div class="col-lg-12 border-bottom border-top">
          材料
        <p><%=safe_join(@list.material.split("\n"),tag(:br))%></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          作り方
           <p><%=safe_join(@list.body.split("\n"),tag(:br))%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% if user_signed_in? %>
    <div id="favorites_<%= @list.id %>">
    <%= render "public/favorites/favorites", list: @list %>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="new-comment">
      <%= render 'public/post_comments/form', list: @list, post_comment: @post_comment %>
    <% end %>
      </div>
    </div>
    <div class="col-lg-8">

      <div class="comment_form">
         <%= render 'public/post_comments/index', list: @list,post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>
