<h4 class="fa-solid fa-comment">&nbsp;<%= list.post_comments.count %></h4>
<% list.post_comments.first(3).each do |post_comment| %>
  <div class="border-bottom border-top">
  <p>
    <div class="fa-solid fa-comment">&nbsp;<%= post_comment.user.name %></div>
    <%= l post_comment.created_at  %><br>
    <%=safe_join(post_comment.comment.split("\n"),tag(:br))%>
    <% if post_comment.user == current_user  %>
      <%= link_to "削除", list_post_comment_path(post_comment.list, post_comment), method: :delete, remote: true, data: {confirm: "本当に削除しますか？"} %>
    <% end %>
  </p>
  </div>
<% end %>
<% if list.post_comments.offset(3).any? %>
  <details>
    <summary>全てのコメントを表示</summary>
  <% list.post_comments.offset(3).each do |post_comment| %>
    <div class="border-bottom border-top">
      <p>
        <div class="fa-solid fa-comment">&nbsp;
        <%= post_comment.user.name %></div>
        <%= l post_comment.created_at %><br>
        <%=safe_join(post_comment.comment.split("\n"),tag(:br))%>
        <% if post_comment.user == current_user %>
          <%= link_to "削除", list_post_comment_path(post_comment.list, post_comment), method: :delete, remote: true, data: {confirm: "本当に削除しますか？"} %>
        <% end %>
      </p>
    </div>
    <% end %>
  </details>
<% end %>

<br>