<div class="d-flex align-items-center justify-content-center text-center " style="height:600px;" >

<%= form_with model: @user, url: users_path do |f| %>
<h2 class="h3 mb-3 font-weight-normal">プロフィール編集</h2>

  <div class="field">
  <%= f.text_field :name, autofocus: true, id:"inputName", class: "form-control form-control-lg" %>
  </div>

  <div class="field mb-3">
  <%= f.text_field :email, autofocus: true, id:"inputEmail", class: "form-control form-control-lg" %>
  </div>

    <div class="field mb-3">
  <%= f.submit "変更を保存", class: "btn btn-primary" %>
    </div>

  <div class="actions">
  <%= link_to "退会する", check_path, class: 'btn btn-danger btn-secondary' %>
  </div>
<% end %>


</div>