<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>
 <%= link_to "新規投稿", new_list_path %>

<p>ユーザーネーム
<%= @user.name %></p>
<%= @user.email %></p>
<%= link_to "プロフィール編集", users_edit_path %>
<%= link_to"お気に入り一覧",list_favorites_path(@user) %>
<% if user_signed_in? && @user.id == current_user.id %>
		<%= link_to "退会", check_path, method: :get, class: "btn btn-outline-danger" %>
<% end %>


 <% @lists.each do |list| %>
<div>
  <h2>画像
  <%= image_tag list.get_image, :size => '300x300' %></h2>
  <p>タイトル
  <%= link_to list.title, list_path(list.id)  %></p>
  <p><%= list.draft_i18n %></p>
  <p><%= link_to "#{list.post_comments.count} コメント", list_path(list.id) %></p>
  <%= link_to "編集", edit_list_path(list) %>
</div>
<% end %>

<%= paginate @lists %>
