<div class="container text-center">
<h2><%= current_user.name %>さんのマイページ</h2>
<h4>投稿数<%= current_user.lists.count %></h4>

  <div style="text-align">
    <div class="row" style="background-color: #fafad2 ">
      <h4 class="col-sm-4 col-xs-6"><%= link_to "保存済一覧", list_favorites_path(@user) %></h4>
      <h4 class="col-sm-4 col-xs-6"><%= link_to "新規投稿", new_list_path %></h4>
      <% if @user.email == 'guest@example.com'%>
      <p>ゲストユーザーはユーザー情報の編集ができません。</p>
       <% else %>
      <h4 class="col-sm-4 col-xs-6"><%= link_to "プロフィール編集", users_edit_path %></h4>
   　 <% end %>
    </div>
  </div>


<div class="album py-5">
    <div class="row">
    <% @lists.each do |list| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
         <img class="card-img-top"><%= image_tag list.get_image %>
          <div class="card-body">
          <h4><%= link_to list.title.truncate(10), list_path(list.id) %></h4>
          <% list.tags.each do |tag| %>
          <p class="fa-solid fa-tag"><%= tag.name %>&nbsp;</p>
          <% end %>
          </br>
          <p class="fa-solid fa-comment">&nbsp;<%= list.post_comments.count %></p>
          <p>保存数<%= list.favorites.count %></p>
          <p>現在、<%= list.draft_i18n %>中です。</p>
          <p class="text-right">
            <%= link_to "編集", edit_list_path(list) %>
          　<%= link_to "削除", list_path(list), method: :delete %>
          </p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>


<%= paginate @lists %>
