<!DOCTYPE html>
<html>
  <head>
    <title>腹が減っては戦はできぬ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>

  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to "会社名", root_path %></h5>

<% if user_signed_in? %>
  会員ログイン

<% elsif admin_signed_in? %>
  管理人ログイン

<% else %>
  <nav class="my-2 my-md-0 mr-md-3">
    <%= link_to "About", public_about_path, class: "p-2 text-dark" %>

  <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info" %>
  <%= link_to "ユーザー登録（無料）", new_user_registration_path, class: "btn btn-outline-success" %>
  </nav>
<% end %>
　</div>
  </header>

    <%= yield %>
  </body>
</html>
